%main.users-signup.wrapper
  .content-box
    %section.users-signup__title
      = icon('fas','user-plus')
      %h2 会員登録
    %section.users-signup__content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = render "devise/shared/error_messages", resource: resource
        .field
          = f.label :ユーザー名
          %br/
          = f.text_field :username, autofocus: true
        .field
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (※#{@minimum_password_length}文字まで)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label "パスワード(確認用)"
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "もう一度パスワードを入力してください"
        .actions.clearfix
          = f.submit "会員登録"
      = render "devise/shared/links"
