%main.places-new.wrapper.clearfix
  .content-box
    %section.places-new__title
      = icon('fas','map-marked-alt')
      %h2 お店を新しく登録する
    %section.places-new__content.clearfix
      .places-new__content__left
        #map
          %p Google mapを読み込み中...        (10秒以上待っても表示されない場合は、ページをリロードしてください)
      .places-new__content__right
        %input{id: "pac-input", type: "text", placeholder: "キーワードでお店を検索"}
        .new.place-details.clearfix
          .new.place-details__name
            %h4
            %p
          .new.place-details__address
            %h4
            %p
          .new.place-details__opening-hours
            %h4
            %p.mon
            %p.tue
            %p.wed
            %p.thr
            %p.fri
            %p.sat
            %p.sun
          .new.place-details__phone-number
            %h4
            %p
          .new.place-details__price-level
            %h4
            %p
          .new.place-details__rating
            %h4
            %p
          .new.place-details__website
            %h4
            %p
    %section.places-new__btn
      .places-new__btn__current-place.current-place-btn
        %p 現在地を表示
      .places-new__btn__registration
        = form_for @place do |p|
          = p.text_field :name, type: 'hidden'
          = p.text_field :address, type: 'hidden'
          = p.text_field :latitude, type: 'hidden'
          = p.text_field :longitude, type: 'hidden'
          = p.text_field :googlemap_place_id, type: 'hidden'
          = p.submit 'お店を登録する', class: 'new_place_btn', disabled: "disabled"
