%main.header.clearfix
  .user-menu.wrapper
    .user-menu__content
      // ログイン状態で表示を切り替え
      - if current_user
        .user-menu__content__about-page
          = link_to root_path do
            = icon('fas','question-circle')
            使い方
        .user-menu__content__like
          = link_to root_path do
            = icon('fas','heart')
            お気に入り
        .user-menu__content__login
          = link_to user_path(current_user) do
            = icon('fas','bed')
            = current_user.nickname
      - else
        .user-menu__content__about-page
          = link_to root_path do
            = icon('fas','question-circle')
            使い方
        .user-menu__content__signup
          = link_to new_user_registration_path do
            = icon('fas','user-plus')
            会員登録
        .user-menu__content__login
          = link_to new_user_session_path do
            = icon('fas','sign-in-alt')
            ログイン
  .notice
    %p= notice
    .exit-bottun
      ×
  .alert
    %p= alert
    .exit-bottun
      ×
  .header__content-box.clearfix
    = link_to root_path do
      .header__content-box__title.clearfix
        %p  たまには、夜更かし。
        %h1 predawner
    .header__content-box__copy.clearfix
      %p 朝までのお店と映画、本と音楽
    .header__content-box__menu.clearfix
      %ul
        %li
          = link_to new_place_path do
            = icon('fas','map-marked-alt')
            %p お店
        %li
          = link_to new_place_path do
            = icon('fas','film')
            %p 映画
        %li
          = link_to new_place_path do
            = icon('fas','book')
            %p 本
        %li
          = link_to new_place_path do
            = icon('fas','music')
            %p 音楽
